static derived mac addrs for ndmz public nic

when and  ndmz is set-up, we create a macvlan for the public interface, that interface gets a ramdom MAC address. When a user sets up a dhcp server so that the ndmz gets a public IP addr, it would be cumbersome to have to reset all mac addresses of the ndmz of the nodes every time they reboot.

Using the node ID, we can create a mac address to make it static.
there are a few mac addresses we cannot assign, but mostly it will fit.
--or--
save the one received somewhere and reapply at boot it it exists...

https://www.iana.org/assignments/ethernet-numbers/ethernet-numbers.xhtml

# Randomized MAC addresses caveats

### IANA-assigned MAC addresses:

```text
00-00-00 to 00-00-FF	Reserved	[RFC7042]
00-01-00 to 00-01-FF	VRRP (Virtual Router Redundancy Protocol)	[RFC5798]
00-02-00 to 00-02-FF	VRRP IPv6 (Virtual Router Redundancy Protocol IPv6)	[RFC5798]
00-03-00 to 00-51-FF	Unassigned	
00-52-00	        PacketPWEthA	[RFC6658]
00-52-01	        PacketPWEthB	[RFC6658]
00-52-02 to 00-52-12	Unassigned (small allocations)	
00-52-13	        Proxy Mobile IPv6	[RFC6543]
00-52-14 to 00-52-FF	Unassigned (small allocations)	
00-53-00 to 00-53-FF	Documentation	[RFC7042]
00-54-00 to 90-00-FF	Unassigned	
90-01-00	        TRILL OAM	[RFC7455]
90-01-01 to 90-01-FF	Unassigned (small allocations requiring both unicast and multicast)	
90-02-00 to FF-FF-FF	Unassigned
```

### In short

```text
00:03: to 00:51:ff:
00:54: to 90:00:ff:
90:02: to ff:ff:ff:ff:ff:fe
__EXCEPT__
33:33: to 33:33:ff:ff:ff:ff
```

Commit 840a3cc helps to resolve this issue.

Node `A34YUGenHKyhjDMAUKZe4cVDtJM2wQ4n4XRkfGUUEYdy` for example will map to mac address `8b:d3:36:10:7e:e9` in case you use the ID in base64 directly as bytes.

We still need to integrate the algorithm in the actual mac process.

Also have an algorithm to allow you to generate the IPv6 suffix `8bd3:3610:7ee9:1507` for node `A34YUGenHKyhjDMAUKZe4cVDtJM2wQ4n4XRkfGUUEYdy. 

Available as method `IPv6SuffixFromInputBytesAsHex` since commit bb582c20433bc0317d1bdc9f222fe8a330d436d1.

some testing needs to be done first, but it's implemented afaict
